<div class="featureinfo">
<table>
{{#each fields}}
<tr><td>
{{#if key.name }}
<h2>
{{/if}}
{{>templates/osmlabel item=this class='keylabel' key=key}}
</td><td>
<span class="osmlabel valuelabel {{ key }}">{{t ./value/displayname}}
  <span class="icons">
    {{#if ./value/wikipedia }}
      <a class="icon wikipedia_white" href="https://en.wikipedia.org/wiki/{{ ./value/wikipedia }}" data="{{ ./value/wikipedia }}" title="{{{t "home.wikipediahover" }}} {{ t ./value/displayname }}" target="_blank"></a>
    {{/if}}
    {{#if ./value/osmwiki }}
      <a class="icon openstreetmap_bw" href="https://wiki.openstreetmap.org/wiki/{{ ./value/osmwiki }}" data="{{ ./value/osmwiki }}" title="{{{t "home.osmwikihover" }}} {{ t ./value/displayname }}" target="_blank"></a>
    {{/if}}
    {{#if ./value/wikidata }}
      <a class="icon wikidata_bw" href="https://www.wikidata.org/wiki/{{ ./value/wikidata }}" data="{{ ./value/wikidata }}" title="{{t "home.wikidatahover" }} {{ ./value/wikidata }}" target="_blank"></a>
    {{/if}}
    {{#if wikiproperty }}
      {{#if ./value/wikidata }}
        <a class="icon mapmarker_bw" data-wikidataproperty="{{ wikiproperty }}" data-wikidatavalue="{{ ./value/wikidata }}"></a>
      {{/if}}
    {{/if}}
  </span>
</span>
{{#if key.name }}
</h2>
{{/if}}

</tr></td>
{{/each}}
</table>

</div>
