<div class="sidebar-tabs">
  <ul role="tablist">
    <li title="{{ t 'home.panels.home.title' }}"><a href="#homepane" role="tab"><i class="fa fa-bars"></i></a></li>
    <!-- try fa-exchange fa-filter fa-sliders -->
    <li title="{{ t 'home.panels.sceneswitcher.title' }}"><a href="#sceneswitcherpane" role="tab"><i class="fa fa-filter"></i></a></li>
    <li class="disabled" title="{{ t 'home.panels.legend.title' }}"><a href="#legendpane" role="tab"><i class="fa fa-map"></i></a></li>
    <li class="disabled" title="{{ t 'home.panels.locations.title' }}"><a href="#locationspane" role="tab"><i class="fa fa-map-marker"></i></a></li>
    <li class="disabled" title="{{ t 'home.panels.info.title' }}"><a href="#infopane" role="tab"><i class="fa fa-info"></i></a></li>
    <li class="disabled" title="{{ t 'home.panels.wikipedia.title' }}"><a href="#wikipediapane" role="tab"><i class="fa fa-wikipedia-w"></i></a></li>
    <li class="disabled" title="{{ t 'home.panels.wms.title' }}"><a href="#wmspane" role="tab"><i class="fa fa-bank"></i></a></li><!-- more generic: fa-window-restore -->
<!--    <li class="disabled" title="{{ t 'home.panels.images.title' }}"><a href="#imagespane" role="tab"><i class="fa fa-file-image-o"></i></a></li> -->
  </ul>
  <ul role="tablist">
    <li><a href="#settingspane" role="tab"><i class="fa fa-gear"></i></a></li>
  </ul>
</div>
<!-- Tab panes -->
<div class="sidebar-content">
  <div class="sidebar-pane" id="homepane">
    <h1 class="sidebar-header">
      {{ t 'home.panels.home.title' }}
      <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>
    </h1>
    <div id="home">{{ t 'home.panels.home.pane' }}
      <ul>
        <li><i class="fa fa-filter"></i>{{ t 'home.panels.sceneswitcher.title' }}</li>
        <li><i class="fa fa-map"></i>{{ t 'home.panels.legend.title' }}</li>
        <li><i class="fa fa-map-marker"></i>{{ t 'home.panels.locations.title' }}</li>
        <li><i class="fa fa-info"></i>{{ t 'home.panels.info.title' }}</li>
        <li><i class="fa fa-wikipedia-w"></i>{{ t 'home.panels.wikipedia.title' }}</li>
        <li><i class="fa fa-gear"></i>{{ t 'home.panels.settings.title' }}</li>
        <li><i class="fa fa-search"></i>{{ t 'home.panels.osmwiki.title' }}</li>
        <li><i class="fa fa-table"></i>{{ t 'home.panels.wikidata.title' }}</li>
      </ul>

    </div>
  </div>
  <div class="sidebar-pane" id="sceneswitcherpane">
    <h1 class="sidebar-header">{{ t 'home.panels.sceneswitcher.title' }}<span class="sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
    <div id="currentscene"></div>
    <div id="sceneswitcher"></div>
  </div>
  <div class="sidebar-pane" id="legendpane">
    <h1 class="sidebar-header">{{ t 'home.panels.legend.title' }}<span class="sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
    <div id="legend"></div>
  </div>
  <div class="sidebar-pane" id="locationspane">
    <h1 class="sidebar-header">{{ t 'home.panels.locations.title' }}<span class="sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
    <div id="locations"></div>
  </div>
  <div class="sidebar-pane" id="infopane">
    <h1 class="sidebar-header">{{ t 'home.panels.info.title' }}<span class="sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
    <div id="info"></div>
  </div>
  <div class="sidebar-pane iframepane" id="wikipediapane">
    <h1 class="sidebar-header">{{ t 'home.panels.wikipedia.title' }}<span class="sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
    <div><iframe id="wikipedia"></iframe></div>
  </div>
  <div class="sidebar-pane" id="wmspane">
    <h1 class="sidebar-header">{{ t 'home.panels.wms.title' }}<span class="sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
    <h2>{{ t 'home.panels.wms.layers' }}</h2>
    <div id="wms"></div>
    <label id="wmsopacityslidelabel" for="wmsopacityslide">{{ t 'home.panels.wms.transparancy' }}</label>
    <input id="wmsopacityslide" type="range" min="0" max="1" step="0.1" value="0.5">
  </div>
  <div class="sidebar-pane" id="imagespane">
    <h1 class="sidebar-header">{{ t 'home.panels.images.title' }}<span class="sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
  </div>
  <div class="sidebar-pane" id="settingspane">
    <h1 class="sidebar-header">{{ t 'home.panels.settings.title' }}<span class="sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
    <div id="settings">
      <form>
        <input type="radio" name="language" value="en-US">{{ t 'home.panels.settings.en-US' }}<br>
        <input type="radio" name="language" value="nl-NL">{{ t 'home.panels.settings.nl-NL' }}<br>
      </form>
    </div>
</div>
